# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars

# OS/Editor
.DS_Store
Thumbs.db
.vscode/

# Local clones
upstream/
